@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Mystery+Quest&display=swap');

/*general stylings*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mystery Quest', cursive;
    background-image: url(../images/blue-boards-with-colourful-blocks.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hr-center {
    text-align: center;
}

/* title styling */

#title {
    font-family: 'Kranky', cursive;
    color: whitesmoke;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: gold;
    margin-top: 20px;
}
#title h1 {
    font-size: 2.5em;
}

#title h3 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 2em;
}

.fa-puzzle-piece:before {
    color: gold;
}
 .fa-gamepad:before {
     color: gold;
 }


/* gameboard and card stylings */

.match-game {
    border: 2px solid whitesmoke;
    display: flex;
    height: 480px;
    width: 480px;
    flex-wrap: wrap;
}

.match-card {
    border: 2px solid gold;
    height: 25%;
    width: 25%;
    position: relative;
}

.match-card img {
    max-width: 100%;
}

.card-front,
.card-back {
    position: absolute;
}