@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Mystery+Quest&display=swap');

/*general stylings*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mystery Quest', cursive;
    background-image: url(../images/blue-boards-with-colourful-blocks.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hr-center {
    text-align: center;
}

/* Navbar stylings */

#brandlogo {
    font-family: 'Kranky', cursive;
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.9em;
    text-decoration: underline;
    text-decoration-color: gold;
}

.fa-gamepad:before {
    color: gold;
}

.bg-light {
    background-color: transparent!important;
}

.navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
    font-size: 1.5em;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: whitesmoke;
}

.active {
    text-decoration: underline;
    padding-bottom: 0px;
}

    .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(280,	280,	280, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
    border: 2px solid whitesmoke;
}

.navbar-light .navbar-toggler:focus {
    box-shadow: none;
    outline-style: solid;
    outline-width: 3px;
    outline-color: whitesmoke;
    border-radius: 0;
}


/* title styling */

#title {
    font-family: 'Kranky', cursive;
    color: whitesmoke;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: gold;
    margin-top: 20px;
}
#title h1 {
    font-size: 2.5em;
}

#title h3 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 2em;
}

.fa-puzzle-piece:before {
    color: gold;
}
 .fa-gamepad:before {
     color: gold;
 }


/* gameboard and card stylings */

.match-game {
    border: 4px groove whitesmoke;
    display: flex;
    height: 480px;
    width: 480px;
    flex-wrap: wrap;
    margin: auto;
}

.match-card {
    height: calc(25% - 10px);
    width : calc(25% - 10px);
    position: relative;
    margin: 5px;
}

.match-card img {
    max-width: 100%;
}

.card-front,
.card-back {
    position: absolute;
    border: 4px outset gold;
    border-radius: 5%;

}