@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Mystery+Quest&display=swap');

/*general stylings*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mystery Quest', cursive;
    background-image: url(../images/blue-boards-with-colourful-blocks.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* found a clever centering trick on https://www.w3schools.com/howto/howto_css_center_button.asp */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hr-center {
    text-align: center;
}

/* Navbar stylings */

#brandlogo {
    font-family: 'Kranky', cursive;
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.9em;
    text-decoration: underline;
    text-decoration-color: gold;
}

.fa-gamepad:before {
    color: gold;
}

.bg-light {
    background-color: transparent!important;
}

.navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
    font-size: 1.5em;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: whitesmoke;
}

.active {
    text-decoration: underline;
    padding-bottom: 0px;
}

    .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(280,	280,	280, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
    border: 2px solid whitesmoke;
}

.navbar-light .navbar-toggler:focus {
    box-shadow: none;
    outline-style: solid;
    outline-width: 3px;
    outline-color: whitesmoke;
    border-radius: 0;
}

/* title styling */

#title {
    font-family: 'Kranky', cursive;
    color: whitesmoke;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: gold;
    margin-top: 20px;
}

#title h3 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 2em;
}

.fa-puzzle-piece:before {
    color: gold;
}
 .fa-gamepad:before {
     color: gold;
 }

/* styling for the container and buttons in index */

#game-menu {
    text-align: center;
}

.container {
    width: 90vw;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 250px;
    display: flex; 
    justify-content: center;  
    align-items: center;
    margin-top: 40px;
}


h3 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 2em;
    color: whitesmoke;
}

.container h4 {
    margin-bottom: 25px;
    font-family: 'Kranky', cursive;
    color: whitesmoke;
}

#how-to-play {
    width: 140px;
    background-color: whitesmoke;
    color: dodgerblue;
    display: block;
    margin-top: 15px;
    font-family: 'Mystery Quest', cursive;
}

#how-to-play:hover {
    color: whitesmoke;
}
  /* found a cool outline trick on https://stackoverflow.com/questions/57464935/font-outline-using-only-css */
#go-to-game {
    width: 140px;
    background-color: chartreuse;
    color: darkorange;
    display: block;
    margin-top: 15px;
    font-family: 'Mystery Quest', cursive;
    text-shadow: 0 0 1px whitesmoke, 0 0 1px whitesmoke, 0 0 1px whitesmoke, 0 0 1px whitesmoke;
}

#go-to-game:hover {
    color: chartreuse;
}

#contact-us {
    width: 140px;
    background-color: gold;
    color: black;
    display: block;
    margin-top: 15px;
    font-family: 'Mystery Quest', cursive;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

#contact-us:hover {
    color: gold;
}


/* gameboard and card stylings */

.match-game {
    border: 4px groove whitesmoke;
    display: flex;
    height: 480px;
    width: 480px;
    flex-wrap: wrap;
    margin: auto;
}

.match-card {
    height: calc(25% - 10px);
    width : calc(25% - 10px);
    position: relative;
    margin: 5px;
}

.match-card img {
    max-width: 100%;
}

.card-front,
.card-back {
    position: absolute;
    border: 4px outset gold;
    border-radius: 5%;

}


/* hover css */

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:lightskyblue;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: darkorange;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}









/*  media queries section   */


@media (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-flow: row-reverse;
}
}



@media (min-width: 500px) {
.container {
    width: 450px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 250px;
    display: flex; 
    justify-content: center;  
    align-items: center;
    margin-top: 40px;

}
}

@media (min-width: 500px) {
#how-to-play {
    margin: 15px 0px 15px 0px;
}
}

@media (min-width: 500px) {
#go-to-game {
    margin: 15px 0px 15px 0px;
}
}

@media (min-width: 500px) {
#contact-us {
    margin: 15px 0px 15px 0px;
}
}